<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 titleRow">
            {{title}}   <img src="assets/images/angular.svg" width="25" height="25"/>
                        <img src="assets/images/node.png" width="50" height="25"/>
                        <img src="assets/images/bootstrap.svg" width="25" height="25"/>
                        <img src="assets/images/code.png" width="25" height="25"/>
        </div>
    </div>
    <div>
        <app-heroes></app-heroes>
    </div>
</div>
<footer>
    <div class="footer">André Pereira - 2018</div>
</footer>
