<!--
<h4>{{hero.name | uppercase }} Details</h4>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
    <label>name:
        <input [(ngModel)]="hero.name" placeholder="name">
    </label>
</div>
-->

<h3><span class="marginleft">Heroes list</span></h3>
<!--
<ul>
    <li class="listed-hero" *ngFor="let hero of heroes"
                           (click)="onSelect(hero)"
                           [class.listed-hero-selected]="selectedHero!=undefined && hero.id==selectedHero.id">
        <span>{{hero.id}} - {{hero.name}}</span>
    </li>
</ul>
-->
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-3 colMinWidth" *ngFor="let hero of heroes">
            <div class="card listed-hero" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/{{hero.image}}" alt="{{hero.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{hero.name}}</h5>
                    <p class="card-text">{{hero.description}}</p>
                    <!-- <a href="#" class="btn btn-sm btn-outline-secondary"
                       (click)="onSelect(hero)"
                       [class.listed-hero-selected]="selectedHero!=undefined && hero.id==selectedHero.id" data-toggle="modal" data-target="herodetailmodal">View detail</a> -->
                    <button class="btn btn-sm btn-outline-secondary" 
                          (click)="onSelect(hero)" 
                             type="button" 
     [class.listed-hero-selected]="selectedHero!=undefined && hero.id==selectedHero.id"
                      data-toggle="modal" 
                      data-target="herodetailmodal">View detail</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div *ngIf="selectedHero">
                    <div>
                        <button class="btn btn-outline-dark btn-sm clearselectionbutton" (click)="clearSelect()" type="button">Clear selection</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
