.listed-hero{
    margin-top: 15px;
    margin-right: 15px;
}

/*.listed-hero :hover{
    color: firebrick;
    background: azure;
    cursor: pointer;
}*/

.listed-hero-selected {
    color: dodgerblue;
    background-color: aliceblue;
}

.colMinWidth {
    min-width: 300px;
    max-width: 300px;
}

.marginleft{
    margin-left: 15px;
}
